node_modules
**/node_modules
dist
**/dist
.git
.env
.env.*
!.env.example
src
public
netlify.toml
postcss.config.js
tailwind.config.js
index.html
vite.config.ts
tsconfig.json
tsconfig.node.json
tsconfig.app.json
render.yaml
